[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref="*"
certifi="*"
chardet="*"
Django="*"
djangorestframework="*"
gunicorn="*"
idna="*"
Pillow="*"
pyTelegramBotAPI="*"
pytz="*"
requests="*"
six="*"
sqlparse="*"
urllib3="*"
whitenoise="*"

[dev-packages]

[requires]
python_version = "3.8.1"