[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django="*"
djangorestframework="*"
Pillow="*"
pyTelegramBotAPI="*"
gunicorn="*"
whitenoise="*"

[dev-packages]

[requires]
python_version = "3.8.1"